/.artifacts/
/_output/
/conmon/conmon.o
/docs/*.[158]
/docs/*.[158].gz
*.o
*.orig
/pause/pause.o
/bin/
/test/bin2img/bin2img
/test/checkseccomp/checkseccomp
/test/copyimg/copyimg
/build/
.nfs*
.ropeproject
__pycache__
/cmd/podman/varlink/ioprojectatomicpodman.go
/cmd/podman/varlink/iopodman.go
.gopathok
