/.artifacts/
/bin/
/brew
/build/
/conmon/
contrib/spec/podman.spec
contrib/systemd/*/*.service
*.coverprofile
coverprofile
/.coverage
/docs/*.[158]
/docs/*.[158].gz
/docs/build/
/docs/remote
.gopathok
.idea*
.nfs*
*.o
*.orig
/_output/
/podman_tmp_*
/pause/pause.o
pkg/api/swagger.yaml
/podman-remote*.zip
/podman*.tar.gz
/podman-*.msi
__pycache__
release.txt
.ropeproject
*.rpm
/test/bin2img/bin2img
/test/checkseccomp/checkseccomp
/test/copyimg/copyimg
/test/goecho/goecho
/test/version/version
/test/testvol/testvol
/test/tools/build
.vscode*
tags
result
# Necessary to prevent hack/tree-status.sh false-positive
/*runner_stats.log
.generate-bindings
