/.artifacts/
/bin/
/brew
/build/
/cmd/podman/varlink/iopodman.go
/cmd/podman/varlink/ioprojectatomicpodman.go
/conmon/
contrib/spec/podman.spec
*.coverprofile
/docs/*.[158]
/docs/*.[158].gz
/docs/build/
/docs/remote
.gopathok
.idea*
.nfs*
*.o
*.orig
/_output/
/pause/pause.o
pkg/api/swagger.yaml
/pkg/varlink/iopodman.go
podman-remote*.zip
podman*.tar.gz
__pycache__
release.txt
.ropeproject
*.rpm
/test/bin2img/bin2img
/test/checkseccomp/checkseccomp
/test/copyimg/copyimg
/test/goecho/goecho
.vscode*
result-bin
