## assert-podman-final-args localhost/imagename
## assert-podman-args "--annotation" "org.foo.Arg0=arg0"
## assert-podman-args "--annotation" "org.foo.Arg1=arg1"
## assert-podman-args "--annotation" "org.foo.Arg2=arg 2"
## assert-podman-args "--annotation" "org.foo.Arg3=arg3"

[Container]
Image=localhost/imagename
Annotation=org.foo.Arg1=arg1 "org.foo.Arg2=arg 2" \
  org.foo.Arg3=arg3

Annotation=org.foo.Arg0=arg0
