## assert-podman-final-args run --name systemd-%N --cidfile=%t/%N.cid --replace --rm --cgroups=split --sdnotify=conmon  -d localhost/imagename

[Container]
Image=localhost/imagename

# Disable all default features to get as empty podman run command as we can
NoNewPrivileges=no
DropCapability=
VolatileTmp=no
Timezone=
