## assert-podman-final-args run --name=systemd-%N --cidfile=%t/%N.cid --replace --rm -d --log-driver passthrough --runtime /usr/bin/crun --cgroups=split --sdnotify=conmon localhost/imagename

[Container]
Image=localhost/imagename

# Disable all default features to get as empty podman run command as we can
ReadOnly=no
NoNewPrivileges=no
DropCapability=
RunInit=no
VolatileTmp=no
Timezone=
