## !assert-podman-args "--cap-drop" "all"
## assert-podman-args "--cap-add" "cap_dac_override"
## assert-podman-args "--cap-add" "cap_audit_write"
## assert-podman-args "--cap-add" "cap_ipc_owner"

[Container]
Image=localhost/imagename
AddCapability=CAP_DAC_OVERRIDE CAP_AUDIT_WRITE
AddCapability=CAP_IPC_OWNER
