## assert-podman-global-args "network" "--module=/etc/container/1.conf"
## assert-podman-global-args "network" "--module=/etc/container/2.conf"

[Network]
ContainersConfModule=/etc/container/1.conf
ContainersConfModule=/etc/container/2.conf
