## assert-podman-final-args localhost/imagename
## assert-podman-args "--security-opt" "label=disable"

[Container]
Image=localhost/imagename
SecurityLabelDisable=true
