## assert-podman-final-args systemd-gateway
## assert-podman-args "--subnet" "192.168.1.0/24" "--gateway" "192.168.1.1"

[Network]
Subnet=192.168.1.0/24
Gateway=192.168.1.1
