[Container]
Image=localhost/imagename
## assert-podman-args "--health-cmd" "hello world"
HealthCmd="hello world"
## assert-podman-args "--health-interval" "1m"
HealthInterval=1m
## assert-podman-args "--health-on-failure" "stop"
HealthOnFailure=stop
## assert-podman-args "--health-retries" "9"
HealthRetries=9
## assert-podman-args "--health-start-period" "2m3s"
HealthStartPeriod=2m3s
## assert-podman-args "--health-timeout" "20s"
HealthTimeout=20s
## assert-podman-args "--health-startup-cmd" "'[\"hello\", world]'"
HealthStartupCmd='["hello", world]'
## assert-podman-args "--health-startup-interval" "5m"
HealthStartupInterval=5m
## assert-podman-args "--health-startup-retries" "10"
HealthStartupRetries=10
## assert-podman-args "--health-startup-success" "2"
HealthStartupSuccess=2
## assert-podman-args "--health-startup-timeout" "2h"
HealthStartupTimeout=2h
