## assert-failed
## assert-stderr-contains "deprecated Remap keys are set along with explicit mapping keys"

[Container]
Image=localhost/imagename
UIDMap=0:10000:10
UIDMap=10:20000:10
GIDMap=0:10000:10
GIDMap=10:20000:10
RemapUsers=auto
