## assert-symlink alias.service install.service
## assert-symlink another-alias.service install.service
## assert-symlink in/a/dir/alias3.service ../../../install.service
## assert-symlink want1.service.wants/install.service ../install.service
## assert-symlink want2.service.wants/install.service ../install.service
## assert-symlink want3.service.wants/install.service ../install.service
## assert-symlink req1.service.requires/install.service ../install.service
## assert-symlink req2.service.requires/install.service ../install.service
## assert-symlink req3.service.requires/install.service ../install.service

[Container]
Image=localhost/imagename

[Install]
Alias=alias.service \
            "another-alias.service"
Alias=in/a/dir/alias3.service
WantedBy=want1.service want2.service
WantedBy=want3.service
RequiredBy=req1.service req2.service
RequiredBy=req3.service
