## assert-podman-args "--network=container:foobar"
## assert-key-is "Unit" "Requires" "name.service"
## assert-key-is "Unit" "After" "network-online.target" "name.service"

[Container]
Image=localhost/imagename
Network=name.container
