## assert-podman-args "--foo"
## assert-podman-args "--bar"
## assert-podman-args "--also"
## assert-podman-args "--with-key=value"
## assert-podman-args "--with-space" "yes"


[Network]
PodmanArgs="--foo" \
  --bar
PodmanArgs=--also
PodmanArgs=--with-key=value
PodmanArgs=--with-space yes
