## assert-podman-final-args systemd-range
## assert-podman-args "--subnet=192.168.1.0/24" "--ip-range=192.168.1.0/32"

[Network]
Subnet=192.168.1.0/24
IPRange=192.168.1.0/32
