## assert-podman-args "--read-only-tmpfs=false"
## assert-podman-args "--read-only"

[Container]
Image=localhost/imagename
ReadOnly=yes
VolatileTmp=no
