## assert-podman-reload-args "exec"
## assert-podman-reload-args "--cidfile=%t/%N.cid"
## assert-podman-reload-final-args "/some/binary file" "--arg1" "arg 2"

[Container]
Image=localhost/imagename
ReloadCmd="/some/binary file" --arg1 \
  "arg 2"
