## assert-podman-args "--secret" "mysecret"
## assert-podman-args "--secret" "source=mysecret,type=env,target=MYSECRET"
## assert-podman-args "--secret" "source=mysecret,type=mount,uid=1000,gid=1001,mode=777"

[Container]
Image=localhost/imagename
Secret=mysecret
Secret=source=mysecret,type=env,target=MYSECRET
Secret=source=mysecret,type=mount,uid=1000,gid=1001,mode=777
