## assert-failed
## assert-stderr-contains "using key Group in the Service group is not supported"
[Container]
# This is fine
Group=1000

[Service]
# This isn't
Group=1000
