# assert-key-contains "Unit" "After" "startwithpod-pod.service"
# assert-key-contains "Unit" "BindsTo" "startwithpod-pod.service"

[Container]
Image=localhost/image
Pod=startwithpod.pod
StartWithPod=no
