## assert-podman-final-args localhost/changed-image
## assert-podman-args "--name=systemd-%P_%I"
## assert-symlink want.service.wants/template@instance.service ../template@instance.service
## assert-podman-args --env "FOO=bar"

[Container]
# Will be changed by /template@instance.container.d/10-image.conf
Image=localhost/imagename

[Install]
WantedBy=want.service
