## assert-podman-final-args localhost/imagename
## assert-podman-args "--name" "systemd-%p_%i"
## assert-symlink want.service.wants/template@default.service ../template@.service
## assert-podman-args --env "FOO=bar"

[Container]
Image=localhost/imagename

[Install]
WantedBy=want.service
DefaultInstance=default
