# No need for --user 0:0, it is the  default
## !assert-podman-args --user

## assert-podman-args --uidmap 0:0:1
## assert-podman-args --gidmap 0:0:1

## assert-podman-args --uidmap 1:100000:100000
## assert-podman-args --gidmap 1:100000:100000

# Map container uid root to host root

[Container]
Image=imagename
User=0
# Also test name parsing
HostUser=root
Group=0
HostGroup=0
RemapUsers=yes
# Set this to get well-known valuse for the checks
RemapUidRanges=100000-199999
RemapGidRanges=100000-199999
