<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Patch
     AllowRemoval="yes"
     Classification="Update"
     DisplayName="Podman Patch v$(Version)"
     Description="Podman Patch v$(Version)"
     Manufacturer="Red Hat Inc.">

    <Media Id="1000" Cabinet="PodmanPatch.cab">
      <PatchBaseline
         Id="podmanPatch"
         BaselineFile="podman.msi"
         UpdateFile="prev-podman.msi"/>
    </Media>

    <PatchFamily
      Id="PodmanPatches"
      Version="$(Version)"
      Supersede="yes" />
  </Patch>
</Wix>
