[Unit]
Description=Podman Remote API Socket
Documentation=man:podman-varlink(1)

[Socket]
ListenStream=/run/podman/io.projectatomic.podman
SocketMode=0600

[Install]
WantedBy=sockets.target
