# https://github.com/actions/labeler
name: "Pull Request Labeler"
on:
- pull_request_target

permissions: {}

jobs:
  triage:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v6
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
