name: Mark stale issues and pull requests

# Please refer to https://github.com/actions/stale/blob/master/action.yml
# to see all config knobs of the stale action.

on:
  schedule:
  - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  stale:

    permissions:
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@98ed4cb500039dbcccf4bd9bedada4d0187f2757 # v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'A friendly reminder that this issue had no activity for 30 days.'
        stale-pr-message: 'A friendly reminder that this PR had no activity for 30 days.'
        stale-issue-label: 'stale-issue'
        stale-pr-label: 'stale-pr'
        days-before-stale: 30
        days-before-close: 365
        remove-stale-when-updated: true
